.about-us {
  background-color: $color-default-white;
  padding: 0 120px 70px 735px;

  h2 {
    @include h2-desktop;
    margin-bottom: 58px;
  }

  h3 {
    @include h3-desktop;
    margin-bottom: 20px;
  }

  p {
    @include text-small-desktop;
    margin-bottom: 26px;
  }
}
