.about-us {
  position: relative;
  padding: 107px 120px 70px 735px;

  h2 {
    @include h2-desktop;
    margin-bottom: 58px;
  }

  h3 {
    @include h3-desktop;
    margin-bottom: 20px;
  }

  p {
    @include text-small-desktop;
    margin-bottom: 26px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -71px;
    right: -222px;
    width: 840px;
    height: 280px;
    background-image: url(../img/clouds-decoration.png);
    background-color: $color-default-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    top: 95px;
    left: 0;
    width: 808px;
    height: 474px;
    background-image: url(../img/background-about-us-desktop.png);
    background-color: $color-default-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

@include vp-1199 {
  .about-us {
    padding: 70px 45px 45px 399px;
  }

  .about-us::before {
    display: none;
  }

  .about-us::after {
    background-image: url(../img/background-about-us-tablet.png);
    width: 475px;
    height: 402px;
  }

  .about-us h2 {
    @include h2-tablet;
    margin-bottom: 36px;
  }

  .about-us h3 {
    @include h3-tablet;
    margin-bottom: 19px;
  }

  .about-us p {
    @include text-small-tablet;
    margin-bottom: 25px;
  }
}

@include vp-767 {
  .about-us {
    padding: 458px 15px 9px 15px;
  }

  .about-us::before {
    display: none;
  }

  .about-us::after {
    top: 0;
    background-image: url(../img/background-about-us-mobile.png);
    width: 100%;
    height: 402px;
    background-size: cover;
  }

  .about-us h2 {
    @include h2-mobile;
    margin-bottom: 33px;
  }

  .about-us h3 {
    @include h3-mobile;
    margin-bottom: 18px;
  }

  .about-us p {
    @include text-small-mobile;
    margin-bottom: 51px;
  }
}
