.advantages {
  position: relative;
  padding: 0 0 130px;
  width: 100%;

  h2 {
    @include h2-desktop;
    margin: 20px 120px 47px;
    text-align: center;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 788px;
    height: 263px;
    top: -36px;
    right: -184px;
    background-image: url("../img/clouds-decoration.png");
    background-color: $color-default-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::after {
    position: absolute;
    content: "";
    width: 1170px;
    height: 391px;
    top: -220px;
    left: -456px;
    background-image: url("../img/clouds-decoration.png");
    background-color: $color-default-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.advantages__slider {
  position: relative;
  max-width: 2020px;
}

.advantages__slide {
  position: relative;
  min-width: 380px;
  min-height: 329px;
  height: auto;
  padding: 40px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(2, 102, 193, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    width: 54px;
    height: 54px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    border: 1px solid $color-navy-blue;
  }

  &--security::after {
    background-image: url("../img/stack.svg#security");
  }

  &--expertise::after {
    background-image: url("../img/stack.svg#crown");
  }

  &--equipment::after {
    background-image: url("../img/stack.svg#boots-blue");
  }

  &--route::after {
    background-image: url("../img/stack.svg#route");
  }

  &--eco::after {
    background-image: url("../img/stack.svg#leaf");
  }

  h3 {
    width: 100%;
    margin: 0;
    padding: 84px 0 15px;
    text-align: center;
    font-family: "Montserrat SemiBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 100%;
    color: $color-elephant;
  }

  p {
    @include text-small-desktop;
    text-align: center;
  }
}

.advantages__btn-wrapper {
  display: flex;
  gap: 4px;
  max-width: 78px;
  margin: 48px auto 0;
}

.advantages__btn-next {
  @include btn-next;
  position: relative;
  top: auto;
  right: auto;
}

.advantages__btn-prev {
  @include btn-prev;
  position: relative;
  top: auto;
  left: auto;
}


@include vp-1199 {
  .advantages {
    padding: 0 45px 40px;
  }

  .advantages::before,
  .advantages::after {
    display: none;
  }

  .advantages h2 {
    @include h2-tablet;
    margin-top: 20px;
    margin-bottom: 48px;
  }

  .advantages h2::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .advantages__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .advantages__slide {
    box-sizing: border-box;
    padding: 29px 20px;
    min-width: 0;
    max-width: 324px;
    flex-grow: 1;
    min-height: 0;
    height: auto;
  }

  .advantages__slide::after {
    width: 48px;
    height: 48px;
    top: 30px;
  }

  .advantages__slide h3 {
    font-size: 16px;
    padding: 74px 0 15px;
  }

  .advantages__slide p {
    @include text-xsmall-tablet;
  }

  .advantages__btn-next,
  .advantages__btn-prev {
    display: none;
  }
}

@include vp-767 {
  .advantages {
    padding: 0 15px 22px;
  }

  .advantages h2 {
    @include h2-mobile;
    margin-bottom: 30px;
  }

  .advantages h2::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .advantages__slide {
    padding: 19px 10px;
    max-width: none;
    width: 100%;
  }

  .advantages__slide h3 {
    @include h3-mobile-small;
    padding: 67px 0 16px;
  }

  .advantages__slide p {
    @include text-small-mobile;
  }

  .advantages__slide::after {
    top: 20px;
    width: 42px;
    height: 42px;
    background-size: 18px;
  }

  .advantages__list {
    gap: 14px;
  }
}
