.contacts {
  background: $color-default-white;
  padding: 60px 120px 104px;

  h2 {
    @include h2-desktop;
    margin-bottom: 26px;
  }

  p {
    @include text-regular-desktop;
    margin-bottom: 50px;
  }

}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;
}

.contacts__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  padding-left: 56px;

  &::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &--tel::after {
    background-image: url("../img/stack.svg#phone");
  }

  &--e-mail::after {
    background-image: url("../img/stack.svg#mail");
  }

  &--address::after {
    background-image: url("../img/stack.svg#pin-stroke");
  }

  dt {
    font-family: "Montserrat SemiBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 100%;
    margin: 0;
    color: $color-elephant;
  }

  dd {
    margin: 0;
    @include text-regular-desktop;
  }
}

@include vp-1199 {}

@include vp-767 {}
