.custom-input {
  position: relative;

  input,
  textarea {
    width: 100%;
    flex-grow: 1;
    border: none;
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 100%;
    background: $color-default-white;
    color: $color-elephant;
    padding: 22px 30px;
    border: 1px solid rgba(2, 102, 193, 0.1);

    &::-webkit-input-placeholder,
    &::placeholder {
      color: $color-elephant;
      opacity: 50%;
    }

    &:hover {
      border: 1px solid $color-navy-blue;
    }

    &:hover::-webkit-input-placeholder,
    &:hover::placeholder {
      color: $color-navy-blue;
      opacity: 100%;
    }

    &:focus::-webkit-input-placeholder,
    &:focus::-moz-placeholder,
    &:focus::placeholder {
      visibility: hidden;
    }

    &:focus,
    &:focus-visible,
    &:active {
      border: 1px solid $color-resolution-blue;
      outline: none;
    }

    &:disabled::-webkit-input-placeholder,
    &:disabled::-moz-placeholder,
    &:disabled::placeholder {
      visibility: hidden;
    }
  }

  &.is-invalid {

    input,
    textarea {
      border: 1px solid $color-torch-red;
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -20px;

    &.is-invalid {
      font-family: "Montserrat Regular", "Arial", sans-serif;
      font-size: 14px;
      line-height: 22px;
      color: $color-torch-red;
    }
  }
}

@include vp-1199 {
  .custom-input {
    width: 100%;
  }
  .custom-input input {
    width: 100%;
    font-size: 14px;
    padding: 18px 15px;
  }
}

@include vp-767 {
}
