.custom-input {
  input,
  textarea {
    width: 100%;
    flex-grow: 1;
    font-size: 14px;
    border: none;
    background: $color-default-white;
    color: $color-elephant;
    padding: 24px 30px;

    &::-webkit-input-placeholder,
    &::placeholder {
      color: $color-elephant;
      opacity: 50%;
    }

    &:focus::-webkit-input-placeholder,
    &:focus::-moz-placeholder,
    &:focus::placeholder {
      visibility: hidden;
    }

    &:hover {
      border-bottom: 1px solid $color-default-white;
    }

    &:focus,
    &:focus-visible,
    &:active {
      border-bottom: 1px solid transparent;
      outline: 1px solid $color-default-white;
    }

    &:disabled::-webkit-input-placeholder {
      opacity: 40%;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-bottom: 1px solid $color-torch-red;

      &:focus,
      &:hover {
        border-bottom: 1px solid rgba($color-torch-red, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -20px;

    &.is-invalid {
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-size: 14px;
      line-height: 22px;
      color: $color-torch-red;
    }
  }
}

@include vp-1199 {
  .custom-input {

  }
}

@include vp-767 {
  .custom-input {

  }
}
