.feedback {
  width: 100%;
  padding: 310px 231px 307px;
  background-color: $color-elephant;
  background-image: url("../img/background-feedback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h2 {
    @include h2-desktop;
    text-align: center;
    color: $color-default-white;
    margin-bottom: 18px;
    margin-right: 15px;
  }

  p {
    @include text-regular-desktop;
    text-align: center;
    color: $color-default-white;
    margin-bottom: 40px;
    margin-right: 15px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-feedback@2x.jpg");
  }
}

.feedback__wrapper {
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.feedback__btn {
  padding: 24px;
  width: 238px;
}

@include vp-1199 {
  .feedback {
    padding: 194px 200px 183px;
    background-image: url("../img/background-feedback-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-feedback-tablet@2x.jpg");
    }
  }

  .feedback h2 {
    @include h2-tablet;
    text-align: center;
    color: $color-default-white;
    margin-bottom: 19px;
  }

  .feedback p {
    margin: 0 15px 29px 15px;
  }

  .feedback__wrapper form {
    margin: 0 auto;
    flex-direction: column;
    gap: 7px;
    width: 266px;
  }

  .feedback__btn {
    padding: 21px;
    width: 100%;
    margin-top: 8px;
  }
}

@include vp-767 {
  .feedback {
    padding: 179px 15px 175px;
    background-image: url("../img/background-feedback-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-feedback-mobile@2x.jpg");
    }
  }

  .feedback h2 {
    @include h2-mobile;
    color: $color-default-white;
    margin-bottom: 14px;
  }

  .feedback p {
    @include text-small-mobile;
    color: $color-default-white;
    margin: 0 6px 26px;
  }

  .feedback__wrapper form {
    width: 290px;
  }

  .feedback__btn {
    margin: 0;
    padding: 18px;
  }
}
