.feedback {
  padding: 308px 231px 307px;
  background-color: $color-elephant;
  background-image: url("../img/background-feedback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h2 {
    text-align: center;
    @include h2-desktop;
    color: $color-default-white;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    @include text-regular-desktop;
    color: $color-default-white;
    margin-bottom: 42px;
  }
}

.feedback__wrapper {
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.feedback__btn {
  padding: 24px;
  width: 238px;
}

@include vp-1199 {
  .feedback {
    padding: 192px 200px 183px;
    background-image: url("../img/background-feedback-tablet.jpg");
  }

  .feedback h2 {
    text-align: center;
    @include h2-tablet;
    color: $color-default-white;
    margin-bottom: 15px;
  }

  .feedback__wrapper form {
    margin: 0 auto;
    flex-direction: column;
    gap: 7px;
    width: 266px;
  }

  .feedback__btn {
    padding: 21px;
    width: 100%;
    margin-top: 8px;
  }
}

@include vp-767 {
  .feedback {
    padding: 181px 15px 175px;
    background-image: url("../img/background-feedback-mobile.jpg");
  }

  .feedback h2 {
    @include h2-mobile;
    color: $color-default-white;
    margin-bottom: 14px;
  }

  .feedback p {
    @include text-small-mobile;
    color: $color-default-white;
    margin-bottom: 26px;
  }

  .feedback__wrapper form {
    width: 290px;
  }
}
