.footer {
  background-color: $color-default-white;
  padding: 31px 120px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(45, 56, 63, 0.2);
}

.footer__logo {
  max-width: 205px;
}

.footer__logo:focus-visible {
  outline: none;
}

.footer__logo svg {
  fill: $color-elephant;
}

.footer__logo:hover svg,
.footer__logo:focus-visible svg {
  fill: $color-resolution-blue;
}

.footer__logo:active svg {
  fill: $color-navy-blue;
}

.footer__nav {
  max-width: 620px;
}

.footer__tel {
  max-width: 142px;
  font-family: "Montserrat SemiBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: $color-elephant;
  max-width: 150px;
  @include link-style;
}

.footer__link {
  width: 100%;
  text-align: center;
  font-family: "Montserrat Light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: $color-elephant;
  @include link-style;
}


@include vp-1199 {
  .footer {
    padding: 44px 45px 40px;
  }

  .footer__logo {
    width: 118px;
    height: 45px;
  }

  .footer__tel {
    display: none;
  }
}

@include vp-767 {
  .footer {
    padding: 30px 20px;
  }

  .footer__logo {
    width: 100%;
    max-width: none;
  }

  .footer__logo svg {
    width: 112px;
    height: 34px;
  }

  .footer__nav {
    width: 100%;
    max-width: none;
  }
}
