.footer {
  background-color: $color-default-white;
  padding: 31px 120px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  max-width: 205px;
}

.footer__logo:focus-visible {
  outline: none;
}

.footer__logo svg {
  fill: $color-elephant;
}

.footer__logo:hover svg,
.footer__logo:focus-visible svg {
  fill: $color-resolution-blue;
}

.footer__logo:active svg {
  fill: $color-navy-blue;
}

.footer__nav {
  max-width: 620px;
}

.footer__tel {
  max-width: 142px;
  font-family: "Montserrat SemiBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: $color-elephant;
  max-width: 150px;

  &:hover,
  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-navy-blue;
    opacity: 10%;
  }
}

.footer__link {
  width: 100%;
  text-align: center;
  font-family: "Montserrat Light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: $color-elephant;

  &:hover,
  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
    opacity: 100%;
  }

  &:disabled {
    color: $color-navy-blue;
    opacity: 10%;
  }

}


@include vp-1199 {}

@include vp-767 {}
