.gallery {
  width: 100%;
  max-width: 1440px;

  h2 {
    @include h2-desktop;
    margin: 0 120px 25px;
    width: 100%;
  }

  p {
    @include text-regular-desktop;
    margin: 0 0 45px 120px;
    max-width: 693px;
    display: block;
  }
}

.gallery__btn-wrapper {
  display: flex;
  gap: 4px;
  max-width: 78px;
  margin-right: 120px;
  margin-bottom: 48px;
}

.gallery__slider {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gallery__slide {
  display: grid;
  grid-template-columns: 272px 1fr;
  grid-template-rows: 179px 265px;
  gap: 6px;
  grid-auto-flow: dense;
  min-width: 579px;
  min-height: 450px;

  picture:first-of-type {
    grid-column: 1 / 2;
    grid-row: auto / span 2;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: $color-elephant;
  }
}

.gallery__btn-next {
  position: relative;
  top: auto;
  right: auto;

  @include btn-next;
}

.gallery__btn-prev {
  position: relative;
  top: auto;
  left: auto;

  @include btn-prev;
}

@include vp-1199 {
  .gallery h2 {
    @include h2-tablet;
    margin: 0 45px 24px;
  }

  .gallery p {
    @include text-small-tablet;
    margin: 0 45px 36px;
    max-width: 395px;
  }

  .gallery__btn-wrapper {
    margin-top: 8px;
    margin-right: 45px;
  }
}

@include vp-767 {
  .gallery h2 {
    @include h2-mobile;
    margin: 0 15px 15px;
  }

  .gallery p {
    @include text-small-mobile;
    margin: 0 15px 15px;
  }

  .gallery__btn-wrapper {
    margin: 0 15px 14px auto;
  }

  .gallery__slide {
    grid-template-columns: 159px 1fr;
    grid-template-rows: 103px 153px;
    min-width: 0;
    min-height: 0;
  }
}
