.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 40px 120px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__tel {
  font-family: "Montserrat SemiBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: $color-default-white;
  max-width: 142px;

  &:hover,
  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-default-white;
    opacity: 10%;
  }
}

.header__logo {
  max-width: 205px;
}

.header__logo:focus-visible {
  outline: none;
}

.header__logo svg {
  fill: $color-default-white;
}

.header__logo:hover svg,
.header__logo:focus-visible svg {
  fill: $color-resolution-blue;
}

.header__logo:active svg {
  fill: $color-navy-blue;
}

.header__nav {
  max-width: 620px;
}

.header__nav-btn {
  display: none;
}


@include vp-1199 {
  .header {
    padding: 30px 45px;
  }
  .header__nav {
    order: 0;
  }

  .header__logo {
    order: 1;
  }

  .header__tel {
    order: 2;
  }

  .header__nav-btn {
    display: block;
    width: 26px;
    height: 26px;
    background: none;
    border: none;
    background-image: url(../img/stack.svg#menu);
    background-position: center;
    background-repeat: no-repeat;
  }
}

@include vp-767 {

}
