.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 40px 120px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__tel {
  font-family: "Montserrat SemiBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: $color-default-white;
  max-width: 142px;

  &:hover,
  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: $color-default-white;
    opacity: 10%;
  }
}

.header__logo {
  max-width: 205px;
}

.header__logo:focus-visible {
  outline: none;
}

.header__logo svg {
  display: block;
  fill: $color-default-white;
}

.header__logo:hover svg,
.header__logo:focus-visible svg {
  fill: $color-resolution-blue;
}

.header__logo:active svg {
  fill: $color-navy-blue;
}

.header__nav {
  max-width: 620px;
}

.header__nav-btn {
  display: none;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 26px;
}

.header__nav-link {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 100%;
  padding: 2px 4px;
  border: 1px solid transparent;
  color: $color-default-white;
  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus-visible {
    border: 1px solid $color-default-white;
    outline: none;
  }

  &:active {
    color: $color-default-white;
    opacity: 100%;
  }

  &:disabled {
    opacity: 50%;
  }
}

@include vp-1199 {
  .header {
    padding: 30px 45px;
  }

  .header__nav {
    order: 0;
  }

  .header__logo {
    order: 1;
  }

  .header__logo svg {
    width: 144px;
    height: 44px;
  }

  .header__tel {
    order: 2;
    font-size: 16px;
  }

  .header__nav-btn {
    display: block;
    width: 26px;
    height: 26px;
    background: none;
    border: none;
    background-image: url(../img/stack.svg#menu);
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__nav-list {
    display: none;
  }
  .header__nav-link {
    font-size: 14px;
  }

}

@include vp-767 {
  .header {
    padding: 15px;
    row-gap: 6px;
  }

  .header__logo {
    width: 50%;
    margin-left: auto;
  }

  .header__logo svg {
    width: 112px;
    height: 34px;
    margin-left: auto;
  }

  .header__tel {
    max-width: none;
    width: 100%;
    text-align: end;
    font-size: 14px;
  }
}
