.hero__slide {
  position: relative;
  padding: 182px 120px 80px;
  background-color: rgba(15, 20, 41, .33);
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $overlay-gradient-slider;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &--1 {
    background-image: url("../img/background-hero-desktop-1.jpg");
  }

  &--2 {
    background-image: url("../img/background-hero-desktop-2.jpg");
  }

  &--3 {
    background-image: url("../img/background-hero-desktop-3.jpg");
  }

  h1 {
    @include h1-desktop;
    max-width: 945px;
    position: relative;
    z-index: 3;
  }

  p {
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin: 25px 0 35px;
    color: $color-default-white;
    text-align: start;
    max-width: 464px;
    position: relative;
    z-index: 3;
  }
}

.hero__btn {
  text-align: center;
  margin: 0 auto 150px 0;
  width: 220px;
  position: relative;
  z-index: 3;
}

.hero__details {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  z-index: 3;
}

.hero__item {
  position: relative;
  padding: 14px 20px;
  border: 1px solid $color-default-white;

  p {
    margin: 0;
    padding-left: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  &--duration::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#moon");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    top: 14px;
    left: 20px;
  }

  &--level::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#level");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    top: 14px;
    left: 20px;
  }
}

.hero__video {
  position: absolute;
  top: 301px;
  right: 120px;

  video {
    position: relative;
    width: 482px;
    height: 317px;
    object-fit: cover;
  }
}

.hero__video-btn {
  border: none;
  background: none;
  position: absolute;
  content: "";
  background-image: url("../img/stack.svg#video-play-default");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 56px;
  height: 56px;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 3;

  &:hover,
  &:focus-visible {
    background-image: url("../img/stack.svg#video-play-hover");
    outline: none;
  }

  &:active {
    background-image: url("../img/stack.svg#video-play-active");
  }

  &:disabled {
    background-image: url("../img/stack.svg#video-play-disabled");
  }
}

.hero__photos {
  position: absolute;
  top: 202px;
  right: 120px;
  background-image: url("../img/photo-cards-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 410px;
  height: 459px;
}

.hero__audio-player {
  position: absolute;
  top: 301px;
  right: 120px;
  background-image: url("../img/player.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 220px;
}

@include vp-1199 {
  .hero__slide {
    padding: 184px 45px 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;

    &--1 {
      background-image: url("../img/background-hero-tablet-1.jpg");
    }

    &--2 {
      background-image: url("../img/background-hero-tablet-2.jpg");
    }

    &--3 {
      background-image: url("../img/background-hero-tablet-3.jpg");
    }
  }

  .hero__slide h1 {
    @include h1-tablet;
    max-width: none;
    margin: 0 auto;

  }

  .hero__slide p {
    margin: 15px auto 25px auto;
    text-align: center;
    max-width: 560px;
  }

  .hero__btn {
    margin: 0 auto;
    width: 206px;
  }

  .hero__video {
    position: relative;
    top: auto;
    right: auto;
    margin: 50px auto 218px;
  }

  .hero__details {
    display: none;
  }

  .hero__photos {
    position: relative;
    top: auto;
    right: auto;
    margin: 34px auto 169px;
    background-image: url("../img/photo-cards-tablet.png");
    width: 442px;
    height: 365px;
  }

  .hero__audio-player {
    position: relative;
    top: auto;
    right: auto;
    margin: 69px auto 179px;
    width: 340px;
    height: 220px;
  }
}

@include vp-1199 {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 90px;
    right: 50%;
    transform: translateX(50%);
    width: auto;
  }
}

@include vp-767 {}
