.hero {
  width: 100%;
}

.hero__slide {
  position: relative;
  padding: 182px 120px 80px;
  background-color: rgba(15, 20, 41, 0.33);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $overlay-gradient-slider;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &--1 {
    background-image: url("../img/background-hero-desktop-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-hero-desktop-1@2x.jpg");
    }
  }

  &--2 {
    background-image: url("../img/background-hero-desktop-2.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-hero-desktop-2@2x.jpg");
    }
  }

  &--3 {
    background-image: url("../img/background-hero-desktop-3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-hero-desktop-3@2x.jpg");
    }
  }

  h1 {
    @include h1-desktop;
    max-width: 945px;
    position: relative;
    z-index: 3;
  }

  p {
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin: 24px 0 36px;
    color: $color-default-white;
    text-align: start;
    max-width: 464px;
    position: relative;
    z-index: 3;
  }
}

.hero__wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__btn {
  text-align: center;
  margin: 0 auto 150px 0;
  width: 220px;
  position: relative;
  z-index: 3;
}

.hero__details {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  z-index: 3;
}

.hero__item {
  position: relative;
  padding: 14px 20px;
  border: 1px solid $color-default-white;

  p {
    margin: 0;
    padding-left: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  &--duration::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#moon");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    top: 14px;
    left: 20px;
  }

  &--level::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#level");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    top: 14px;
    left: 20px;
  }
}

.hero__video {
  position: absolute;
  top: 119px;
  right: 120px;

  video {
    position: relative;
    width: 482px;
    height: 317px;
    object-fit: cover;
  }
}

.hero__video-btn {
  border: none;
  background: none;
  position: absolute;
  content: "";
  background-image: url("../img/stack.svg#video-play-default");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 56px;
  height: 56px;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 3;

  &:hover,
  &:focus-visible {
    background-image: url("../img/stack.svg#video-play-hover");
    outline: none;
  }

  &:active {
    background-image: url("../img/stack.svg#video-play-active");
  }

  &:disabled {
    background-image: url("../img/stack.svg#video-play-disabled");
  }
}

.hero__photos {
  position: absolute;
  top: 20px;
  right: 0;
  background-image: url("../img/photo-cards-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 410px;
  height: 459px;
}

.hero__audio-player {
  position: absolute;
  top: 120px;
  right: 0;
  background-image: url("../img/player.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 220px;
}

@include vp-1199 {
  .hero__slide {
    padding: 174px 45px 0;
    height: auto;

    &--1 {
      background-image: url("../img/background-hero-tablet-1.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-hero-tablet-1@2x.jpg");
      }
    }

    &--2 {
      background-image: url("../img/background-hero-tablet-2.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-hero-tablet-2@2x.jpg");
      }
    }

    &--3 {
      background-image: url("../img/background-hero-tablet-3.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-hero-tablet-3@2x.jpg");
      }
    }
  }

  .hero__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .hero__slide h1 {
    @include h1-tablet;
    max-width: none;
    margin: 0 auto;
  }

  .hero__slide p {
    margin: 14px auto 26px auto;
    text-align: center;
  }

  .hero__btn {
    margin: 0 auto;
    width: 206px;
  }

  .hero__video {
    position: relative;
    top: auto;
    right: auto;
    margin: 50px auto auto;
  }

  .hero__video video {
    width: 442px;
    height: 300px;
  }

  .hero__details {
    display: none;
  }

  .hero__video-btn {
    bottom: 122px;
  }

  .hero__photos {
    position: relative;
    top: auto;
    right: auto;
    margin: 34px auto 169px;
    background-image: url("../img/photo-cards-tablet.png");
    width: 442px;
    height: 365px;
  }

  .hero__audio-player {
    position: relative;
    top: auto;
    right: auto;
    margin: 69px auto 179px;
    width: 340px;
    height: 220px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@include vp-767 {
  .hero__slide {
    padding: 139px 15px 28px;

    &--1 {
      background-image: url("../img/background-hero-mobile-1.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-hero-mobile-1@2x.jpg");
      }
    }

    &--2 {
      background-image: url("../img/background-hero-mobile-2.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-hero-mobile-2@2x.jpg");
      }
    }

    &--3 {
      background-image: url("../img/background-hero-mobile-3.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-hero-mobile-3@2x.jpg");
      }
    }
  }

  .hero__slide h1 {
    @include h1-mobile;
    max-width: none;
  }

  .hero__slide p {
    font-size: 15px;
    line-height: 20px;
    margin: 15px 0 20px;
    text-align: center;
    max-width: none;
  }

  .hero__btn {
    width: 180px;
    margin-bottom: 124px;
    padding: 18px;
  }

  .hero__video,
  .hero__photos,
  .hero__audio-player {
    display: none;
  }
}
