.instructors {
  max-width: 1260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  h3 {
    @include h3-desktop;
    margin: 58px auto 44px 30px;
  }
}

.instructors__btn-wrapper {
  display: flex;
  gap: 4px;
  max-width: 78px;
  margin-right: 32px;
  margin-top: 10px;
}

.instructors__btn-next {
  @include btn-next;
  position: relative;
  top: auto;
  right: auto;
}

.instructors__btn-prev {
  @include btn-prev;
  position: relative;
  top: auto;
  left: auto;
}

.instructors__slide {
  box-sizing: border-box;
  padding: 16px 20px 20px;
  background: $color-default-white;
  box-shadow: 0 0 30px rgba(28, 51, 116, 0.1);
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 278px;
  min-height: 377px;
  height: auto;

  img {
    object-fit: cover;
  }

  h4 {
    @include h4-desktop;
    margin: 16px 0 14px;
    max-width: 50%;
  }

  a {
    @include link-icon;
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(2, 102, 193, 0.1);
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  p {
    @include text-xsmall-desktop;
    width: 100%;
  }
}

.instructors__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

@include vp-1399 {
  .instructors {
    max-width: 924px;
  }
}

@include vp-1199 {
  .instructors {
    max-width: 738px;
    align-items: flex-start;
  }

  .instructors__slide {
    padding: 15px;
    min-height: 411px;
    max-width: 206px;
  }

  .instructors h3 {
    @include h3-tablet;
    margin: 10px 0 32px 30px;
  }

  .instructors__slide h4 {
    max-width: 70%;
  }

  .instructors__slide p {
    @include text-xsmall-tablet;
  }

  .instructors__btn-wrapper {
    margin: 0;
    margin-right: 30px;
  }
}

@include vp-767 {
  .instructors {
    max-width: 100%;
  }

  .instructors h3 {
    @include h3-mobile;
    margin-bottom: 34px;
    margin-top: 10px;
    max-width: 180px;
  }

  .instructors__btn-wrapper {
    margin-right: 0;
  }

  .instructors__slide {
    padding: 20px;
    min-height: 385px;
    max-width: none;
    width: 100%;
    margin: 0;
  }

  .instructors__picture {
    width: 250px;
  }

  .instructors__link {
    margin-right: 11px;
  }

  .instructors__slide h4 {
    max-width: 50%;
  }

  .instructors__slide p {
    @include text-xsmall-tablet;
  }
}
