.instructors {
  max-width: 1200px;
  h3 {
    @include h3-desktop;
    margin-bottom: 44px;
  }
}

.instructors__btn-next {
  @include btn-next;
  top: 0;
  right: 0;
  left: auto;
}

.instructors__btn-prev {
  @include btn-prev;
  top: 0;
  right: 41px;
  left: auto;
}

.instructors__slide {
  box-sizing: border-box;
  padding: 20px;
  background: $color-default-white;
  box-shadow: 0 0 30px rgba(28, 51, 116, 0.1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 377px;

  img {
    object-fit: cover;
    min-height: 212px;
  }

  h4 {
    @include h4-desktop;
    margin: 15px 0 14px;
    max-width: 50%;
  }

  a {
    @include link-icon;
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid  rgba(2, 102, 193, 0.1);;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  p {
    @include text-xsmall-desktop;
    width: 100%;
  }
}

.instructors__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

@include vp-1199 {
  .instructors {
    max-width: 678px;
  }

  .instructors__slide {
    padding: 15px;
    height: 411px;
  }

  .instructors__slide h4 {
    max-width: 70%;
  }

  .instructors__slide p {
    @include text-xsmall-tablet;
  }
}
