.main-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    width: 602px;
    height: 1364px;
    top: 782px;
    right: -16px;
    background-image: url("../img/clouds-desktop.png");
    background-color: $color-default-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/clouds-desktop@2x.png");
    }
  }
}

@include vp-1199 {
  .main-container::after {
    width: 301px;
    height: 1364px;
    top: 929px;
    background-image: url("../img/clouds-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/clouds-tablet@2x.png");
    }
  }
}

@include vp-767 {
  .main-container::after {
    width: 176px;
    height: 595px;
    top: 705px;
    background-image: url("../img/clouds-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/clouds-mobile@2x.png");
    }
  }
}
