.reviews {
  width: 100%;
  background-color: $color-default-white;
  padding: 0 0 88px 90px;

  h2 {
    @include h2-desktop;
    margin: 30px 0 25px 30px;
  }
}

.reviews__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.reviews__slide {
  overflow-y: auto;
  max-width: 790px;
  min-height: 293px;
  height: auto;
  padding: 20px;
  display: flex;
  column-gap: 30px;
  background: $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  margin-bottom: 30px;
  margin-left: 30px;
}

.reviews__info {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  max-width: 462px;
  flex-grow: 1;

  p {
    @include text-small-desktop;
    width: 100%;
    flex-grow: 1;
  }

  span {
    display: block;
    height: 12px;
  }

  h3 {
    font-family: "Montserrat Bold", "Arial", sans-serif;
    font-size: 13px;
    line-height: 100%;
    margin: 0 0 8px;
    color: $color-elephant;
  }

  h4 {
    font-family: "Montserrat Light", "Arial", sans-serif;
    font-size: 12px;
    line-height: 100%;
    margin: 0;
    color: $color-elephant;
  }
}

.reviews__btn-wrapper {
  display: flex;
  gap: 4px;
  max-width: 78px;
  margin-right: 104px;
  margin-bottom: 24px;
}

.reviews__btn-next {
  @include btn-next;
  position: relative;
  top: auto;
  right: auto;
}

.reviews__btn-prev {
  @include btn-prev;
  position: relative;
  top: auto;
  left: auto;
}

@include vp-1199 {
  .reviews {
    padding: 0 0 35px 15px;
  }

  .reviews h2 {
    @include h2-tablet;
    margin: 30px 0 28px 30px;
    max-width: 50%;
  }

  .reviews__slide {
    max-width: 560px;
    padding: 18px 30px 20px 20px;
    min-height: 277px;
  }

  .reviews__slide img {
    width: 186px;
  }

  .reviews__info {
    width: 294px;
    padding: 2px 0 0;
  }

  .reviews__info span {
    height: 10px;
  }

  .reviews p {
    @include text-xsmall-tablet;
  }

  .reviews h3 {
    font-size: 12px;
    margin: 0 0 8px;
  }

  .reviews h4 {
    margin-bottom: 6px;
  }

  .reviews__btn-wrapper {
    margin-right: 45px;
  }
}

@include vp-767 {
  .reviews {
    padding: 0 0 16px;
    align-items: flex-start;
  }

  .reviews h2 {
    @include h2-mobile;
    margin: 30px 0 33px;
  }

  .reviews__btn-wrapper {
    margin: 0 0 10px 0;
  }

  .reviews__slider {
    max-width: 100%;
    margin: 0 15px;
  }

  .reviews__slide {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    min-height: 466px;
    height: auto;
    margin: 0 0 30px;
  }

  .reviews__slide img {
    width: 100%;
  }

  .reviews__info {
    padding: 20px 0 0;
    width: auto;
  }

  .reviews__info h3 {
    margin-bottom: 8px;
  }

  .reviews__info h4 {
    margin: 0;
  }
}
