.reviews {
  background-color: $color-default-white;
  padding: 0 120px 113px;

  h2 {
    @include h2-desktop;
    margin-bottom: 31px;
  }
}

.reviews__slider {
  position: relative;
}

.reviews__slide {
  width: 790px;
  padding: 20px 40px 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  background: $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.10);
}

.reviews__info {
  width: 420px;
  flex-grow: 1;

  p {
    @include text-small-desktop;
    margin-bottom: 22px;
  }

  h3 {
    font-family: "Montserrat Bold", "Arial", sans-serif;
    font-size: 13px;
    line-height: 100%;
    margin: 2px 0 8px;
    color: $color-elephant;
  }

  h4 {
    font-family: "Montserrat Light", "Arial", sans-serif;
    font-size: 12px;
    line-height: 100%;
    margin: 0;
    color: $color-elephant;
  }
}

.reviews__btn-next {
  @include btn-next;
  top: 0;
  right: 0;
  left: auto;
}

.reviews__btn-prev {
  @include btn-prev;
  top: 0;
  right: 41px;
  left: auto;
}

@include vp-1199 {
  .reviews {
    padding: 0 45px 70px;
  }

  .reviews h2 {
    @include h2-tablet;
    margin-bottom: 30px;
  }

  .reviews__slide {
    padding: 20px 30px 20px 20px;
    width: 560px;
  }

  .reviews__slide img {
    max-width: 186px;
  }

  .reviews__info {
    width: 294px;
  }

  .reviews p {
    @include text-xsmall-tablet;
    margin-bottom: 18px;
  }

  .reviews h3 {
    font-size: 12px;
    margin: 7px 0 6px;
  }
}

@include vp-767 {}
