.reviews {
  background-color: $color-default-white;
  padding: 0 0 113px 90px;

  h2 {
    @include h2-desktop;
    margin-bottom: 31px;
    margin-left: 30px;
  }
}

.reviews__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.reviews__slide {
  overflow-y: auto;
  max-width: 790px;
  height: 293px;
  padding: 20px 40px 20px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  background: $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  margin-bottom: 30px;
  margin-left: 30px;
}

.reviews__info {
  width: 420px;
  flex-grow: 1;

  p {
    @include text-small-desktop;
    margin-bottom: 22px;
  }

  h3 {
    font-family: "Montserrat Bold", "Arial", sans-serif;
    font-size: 13px;
    line-height: 100%;
    margin: 2px 0 8px;
    color: $color-elephant;
  }

  h4 {
    font-family: "Montserrat Light", "Arial", sans-serif;
    font-size: 12px;
    line-height: 100%;
    margin: 0;
    color: $color-elephant;
  }
}

.reviews__btn-wrapper {
  display: flex;
  gap: 4px;
  max-width: 78px;
  margin-right: 120px;
  margin-bottom: auto;
}

.reviews__btn-next {
  @include btn-next;
  position: relative;
  top: auto;
  right: auto;
}

.reviews__btn-prev {
  @include btn-prev;
  position: relative;
  top: auto;
  left: auto;
}

@include vp-1199 {
  .reviews {
    padding: 0 0 70px 15px;
  }

  .reviews h2 {
    @include h2-tablet;
    margin-bottom: 30px;
    margin-left: 30px;
    max-width: 50%;
  }

  .reviews__slide {
    max-width: 560px;
    padding: 20px 30px 20px 20px;
    height: 277px;
  }

  .reviews__slide img {
    max-width: 186px;
  }

  .reviews__info {
    width: 294px;
  }

  .reviews p {
    @include text-xsmall-tablet;
    margin-bottom: 18px;
  }

  .reviews h3 {
    font-size: 12px;
    margin: 7px 0 6px;
  }
}

@include vp-767 {
  .reviews {
    padding: 0 0 30px;
  }
  .reviews__slider {
    max-width: 320px;
  }

  .reviews__slide {
    flex-direction: column;
    max-width: 290px;
    padding: 20px;
    height: 466px;
    margin: 0 15px 30px;
  }

  .reviews__btn-wrapper {
    margin-right: 15px;
  }

  .reviews__info {
    width: auto;
  }
}
