.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 26px;
}

.site-navigation__link {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 100%;
  padding: 2px 4px;
  border: 1px solid transparent;
}

.site-navigation--light .site-navigation__link {
  color: $color-default-white;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus-visible {
    border: 1px solid $color-default-white;
    outline: none;
  }

  &:active {
    color: $color-default-white;
    opacity: 100%;
  }

  &:disabled {
    opacity: 50%;
  }
}

.site-navigation--dark .site-navigation__link {
  color: $color-elephant;

  &:hover {
    border-bottom: 1px solid $color-elephant;
  }

  &:focus-visible {
    border: 1px solid $color-elephant;
    outline: none;
  }

  &:active {
    color: $color-elephant;
    opacity: 100%;
  }

  &:disabled {
    opacity: 50%;
  }
}

@include vp-1199 {
  .site-navigation__list {
    gap: 20px;
  }
  .site-navigation__link {
    font-size: 14px;
  }
}
