.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 20px;
}

.social-list__link {
  @include link-icon;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(45, 56, 63, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

@include vp-1199 {
  .social-list {
    margin-top: 30px;
  }
}

@include vp-767 {
  .social-list {
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 0 4px;
  }
}
