.tours {
  width: 100%;
  position: relative;
  padding: 121px 120px 126px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;

  h2 {
    @include h2-desktop;
    margin-bottom: 54px;
    flex-grow: 1;
    max-width: 1122px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/clouds-decoration.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 837px;
    height: 279px;
    bottom: 0;
    left: -419px;
  }
}

.tours__slider {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tours__slide {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  height: 412px;
  overflow-y: auto;

  h3 {
    @include h3-desktop-light;
    width: 100%;
    padding: 23px 50px 17px 20px;
    z-index: 1;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background: $color-default-white;
      opacity: 20%;
      bottom: 0;
      left: 20px;
    }
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $overlay-gradient-tours;
    top: 0;
    left: 0;
  }
}

.tours__info {
  width: 100%;
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 17px;
  z-index: 1;

  p {
    color: $color-default-white;
    font-family: "Montserrat Medium", "Arial", sans-serif;
    font-size: 12px;
    line-height: 100%;
    margin: 0;
  }
}

.tours__location {
  position: relative;
  padding: 9px 25px 8px 39px;
  background: $color-navy-blue;
  width: 108px;

  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 12px;
    background-image: url("../img/stack.svg#pin-filled-white");
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
  }
}

.tours__days,
.tours__nights {
  position: relative;
  padding-left: 28px;
}

.tours__days {
  width: 76px;
}

.tours__nights {
  width: 82px;
}

.tours__days::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/stack.svg#sun");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.tours__nights::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/stack.svg#moon");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}


.tours__details {
  width: 100%;
  margin: 0;
  padding: 20px 20px 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;

  dt {
    color: $color-default-white;
    font-family: "Montserrat Light", "Arial", sans-serif;
    font-size: 12px;
    line-height: 100%;
    margin: 0 0 7px 0;
  }

  dd {
    color: $color-default-white;
    font-family: "Montserrat Bold", "Arial", sans-serif;
    font-size: 13px;
    line-height: 100%;
    margin: 0;
  }
}

.tours__level {
  dd {
    display: block;
    width: 79px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.tours__slide--elbrus .tours__level dd,
.tours__slide--fisht .tours__level dd {
  background-image: url("../img/sprite/stars-3.svg");
}

.tours__slide--belukha .tours__level dd {
  background-image: url("../img/sprite/stars-2.svg");
}

.tours__date {
  min-width: 82px;
}

.tours__group {
  min-width: 72px;
}

.tours__link-wrapper {
  width: 100%;
}

.tours__link {
  position: relative;
  display: block;
  width: fit-content;
  margin: 53px auto 0;
  padding-right: 24px;
  color: $color-elephant;
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#arrow-link-default");
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &:hover,
  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:hover::after,
  &:focus-visible::after {
    background-image: url("../img/stack.svg#arrow-link-hover");
  }

  &:active {
    color: $color-navy-blue;
    opacity: 100%;
  }

  &:active::after {
    background-image: url("../img/stack.svg#arrow-link-active");
  }

  &:disabled {
    color: $color-navy-blue;
    opacity: 10%;
  }

  &:disabled::after {
    background-image: url("../img/stack.svg#arrow-link-disabled");
  }
}

.tours__btn-wrapper {
  display: flex;
  gap: 4px;
  max-width: 78px;
  margin-bottom: auto;
}

.tours__btn-next {
  position: relative;
  top: auto;
  right: auto;

  @include btn-next;
}

.tours__btn-prev {
  position: relative;
  top: auto;
  left: auto;

  @include btn-prev;
}

@include vp-1199 {
  .tours {
    padding: 78px 45px 87px;

    &::after {
      display: none;
    }
  }

  .tours h2 {
    @include h2-tablet;
    margin-top: 10px;
    margin-bottom: 42px;
    width: 80%;
  }

  .tours__btn-wrapper {
    margin-top: 5px;
  }

  .tours__slider {
    max-width: 666px;
  }

  .tours__slide {
    max-width: 324px;
  }

  .tours__info {
    gap: 10px;
  }

  .tours__location {
    padding: 9px 23px 9px 30px;
    width: auto;
    min-width: 92px;

    &::after {
      left: 15px;
    }
  }

  .tours__link {
    text-align: center;
    margin: 52px auto 0;
  }
}

@include vp-767 {
  .tours {
    padding: 66px 15px;
    justify-content: space-between;
  }

  .tours h2 {
    @include h2-mobile;
    margin-bottom: 28px;
    max-width: 55%;

    &::before {
      width: 256px;
      top: 0;
    }
  }

  .tours__btn-wrapper {
    margin-top: 3px;
  }

  .tours__slider {
    max-width: 290px;
  }

  .tours__info {
    justify-content: flex-start;
    column-gap: 14px;
    row-gap: 19px;
  }

  .tours__days,
  .tours__nights {
    padding-left: 34px;
  }

  .tours__location {
    order: 1;
    padding: 9px 22px 8px 30px;
  }

  .tours__slide h3 {
    @include h3-mobile-light;
    padding: 14px 30px 15px 20px;
  }

  .tours__details {
    padding: 15px 10px 28px 18px;
  }

  .tours__details dt {
    margin-bottom: 5px;
  }

  .tours__details dd {
    font-size: 12px;
  }

  .tours__level dd {
    display: block;
    width: 73px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .tours__link {
    padding-right: 18px;
    margin: 29px auto 0 auto;
    font-size: 14px;
  }
}
