.tours {
  position: relative;
  padding: 100px 120px 102px;

  h2 {
    @include h2-desktop;
    margin-bottom: 58px;
    max-width: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/clouds-decoration.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 837px;
    height: 279px;
    bottom: 0;
    left: -419px;
  }
}

.tours__slider {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tours__slide {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 412px;
  overflow-y: auto;

  h3 {
    width: 100%;
    @include h3-desktop-light;
    padding: 23px 50px 17px 20px;
    z-index: 1;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background: $color-default-white;
      opacity: 20%;
      bottom: 0;
      left: 20px;
    }
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $overlay-gradient-tours;
    top: 0;
    left: 0;
  }
}

.tours__info {
  width: 100%;
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 37px;
  row-gap: 17px;
  z-index: 1;

  p {
    color: $color-default-white;
    font-family: "Montserrat Medium", "Arial", sans-serif;
    font-size: 12px;
    line-height: 100%;
    margin: 0;
  }
}

.tours__location {
  position: relative;
  padding: 9px 25px 8px 39px;
  background: $color-navy-blue;

  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 12px;
    background-image: url(../img/stack.svg#pin-filled-white);
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
  }
}

.tours__days,
.tours__nights {
  position: relative;
  padding-left: 28px;
}

.tours__days::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/stack.svg#sun);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.tours__nights::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/stack.svg#moon);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}


.tours__details {
  width: 100%;
  margin: 0;
  padding: 20px 20px 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;

  dt {
    color: $color-default-white;
    font-family: "Montserrat Light", "Arial", sans-serif;
    font-size: 12px;
    line-height: 100%;
    margin: 0 0 7px 0;
  }

  dd {
    color: $color-default-white;
    font-family: "Montserrat Bold", "Arial", sans-serif;
    font-size: 13px;
    line-height: 100%;
    margin: 0;
  }
}

.tours__level {
  dd {
    display: block;
    width: 79px;
    height: 14px;
    background-image: url(../img/sprite/star-filled.svg);
    background-repeat: repeat;
    background-position: center;
  }
}

.tours__link {
  position: relative;
  display: block;
  width: fit-content;
  margin: 52px auto 0;
  padding-right: 24px;
  color: $color-elephant;
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    background-image: url(../img/stack.svg#arrow-link-default);
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &:hover,
  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:hover::after,
  &:focus-visible::after {
    background-image: url(../img/stack.svg#arrow-link-hover);
  }

  &:active {
    color: $color-navy-blue;
    opacity: 100%;
  }

  &:active::after {
    background-image: url(../img/stack.svg#arrow-link-active);
  }

  &:disabled {
    color: $color-navy-blue;
    opacity: 10%;
  }

  &:disabled::after {
    background-image: url(../img/stack.svg#arrow-link-disabled);
  }
}

.tours__btn-wrapper {
  display: flex;
  gap: 4px;
  max-width: 78px;
  margin-bottom: auto;
}

.tours__btn-next {
  position: relative;
  top: auto;
  right: auto;
  @include btn-next;
}

.tours__btn-prev {
  position: relative;
  top: auto;
  left: auto;
  @include btn-prev;
}

@include vp-1199 {
  .tours {
    padding: 70px 45px
  }

  .tours h2 {
    @include h2-tablet;
    margin-bottom: 46px;
  }

  .tours__slider {
    max-width: 666px;
  }

  .tours__slide {
    max-width: 324px;
  }

  .tours__info {
    gap: 17px;
  }

  .tours__location {
    padding: 9px 15px 8px 30px;

    &::after {
      left: 15px;
    }
  }

  .tours__link {
    margin: 50px auto 0;
  }
}

@include vp-767 {
  .tours {
    padding: 66px 15px 60px;
  }

  .tours h2 {
    @include h2-mobile;
    margin-bottom: 28px;
    max-width: 156px;

    &::before {
      width: 256px;
      top: 0;
    }
  }

  .tours__slider {
    max-width: 290px;
  }

  .tours__info {
    justify-content: flex-start;
    gap: 15px;
  }

  .tours__location {
    order: 1;
  }

  .tours h3 {
    @include h3-mobile-light;
    padding: 15px 30px 15px 20px;
  }

  .tours__details {
    padding: 15px 20px 27px;
  }

  .tours__details dd {
    font-size: 12px;
  }

  .tours__link {
    margin: 29px auto 0;
    font-size: 14px;
  }
}
