.training {
  padding: 0 90px 32px;
  border-bottom: 1px solid $color-navy-blue;

  h2 {
    @include h2-desktop;
    margin-bottom: 58px;
  }

  p {
    @include text-regular-desktop;
    margin-bottom: 52px;
    max-width: 820px;
  }
}

.training__process {
  h3 {
    @include h3-desktop;
    margin: 19px 0 45px;
  }
}

.training__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.training__item {
  position: relative;
  width: 294px;

  &::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    background: $color-navy-blue;
    width: 14px;
    height: 14px;
    bottom: -40px;
    left: 0;
  }

  p {
    margin: 0;
    position: relative;
    padding-left: 40px;
  }
}

.training__item p::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.training__item--route p::before {
  background-image: url("../img/stack.svg#map");
}

.training__item--equipment p::before {
  background-image: url("../img/stack.svg#boots");
}

.training__item--nature p::before {
  background-image: url("../img/stack.svg#pine-tree");
}

.training__item--danger p::before {
  background-image: url("../img/stack.svg#mountain");
}

@include vp-1199 {
  .training {
    padding: 0 15px;
    border-bottom: none
  }

  .training h2 {
    @include h2-tablet;
    margin-bottom: 23px;
    margin-left: 30px;
  }

  .training p {
    margin-bottom: 40px;
    max-width: 590px;
    margin-left: 30px;
  }

  .training__list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 55px;
    row-gap: 56px;
    max-width: 590px;
  }

  .training__item {
    margin: 0;
    padding: 21px 0 15px;
    height: 100%;
  }

  .training__item:nth-of-type(1):after,
  .training__item:nth-of-type(2):after {
    bottom: 0;
    transform: translateY(50%);
  }

  .training__item:nth-of-type(3):after,
  .training__item:nth-of-type(4):after {
    bottom: auto;
    top: 0;
    transform: translateY(-50%);
  }

  .training__item:nth-of-type(1)::before {
    position: absolute;
    content: "";
    background-color: rgba(2, 102, 193, 0.10);
    width: 355px;
    height: 1px;
    bottom: 0;
    left: 0;
  }

  .training__item:nth-of-type(2)::before {
    position: absolute;
    content: "";
    background-color: rgba(2, 102, 193, 0.10);
    width: 1px;
    height: 56px;
    bottom: -56px;
    left: 7px;
  }

  .training__item:nth-of-type(3)::before {
    position: absolute;
    content: "";
    background-color: rgba(2, 102, 193, 0.10);
    width: 355px;
    height: 1px;
    top: 0;
    left: 0;
  }

  .training__item p {
    margin: 0;
  }
}

@include vp-767 {
  .training {
    padding: 0 15px;
    border-bottom: none;
  }

  .training h2 {
    @include h2-mobile;
    margin-bottom: 18px;
  }

  .training p {
    @include text-regular-mobile;
    max-width: none;
    margin-bottom: 37px;
  }

  .training__process h3 {
    @include h3-mobile;
    margin: 7px 0 30px;
  }

  .training__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    position: relative;
    padding-bottom: 16px;
  }

  .training__list::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 89%;
    background: rgba(2, 102, 193, 0.1);
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }

  .training__item {
    padding: 0 0 0 32px;
  }

  .training__item p {
    @include text-small-mobile;
    margin: 0;
  }

  .training__item::after,
  .training__item:nth-of-type(1):after,
  .training__item:nth-of-type(2):after,
  .training__item:nth-of-type(3):after,
  .training__item:nth-of-type(4):after {
    top: 50%;
    transform: translateY(-50%);
  }

  .training__item::before {
    display: none;
  }
}
