@include vp-1199 {
  .wrapper-overlay {
    position: relative;
  }

  .wrapper-overlay--menu-opened {
    height: 100vh;
    overflow-y: hidden;
  }

  .wrapper-overlay--menu-opened::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
}
